.intro{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    display: block;
}

.main{
    display: grid;
    grid-template-columns: 1fr;
    float: left;
    width: 75%;
}

.sidebar{
    display: grid;
    grid-template-columns: 1fr;
    float: left;
    width: 25%;
}
