body{
    display: grid;
    grid-template-rows: auto;
}
.intro{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    display: block;
    background-color: rgb(250, 241, 223);
    border-radius: 15px;
}

.main{
    display: grid;
    grid-template-columns: 1fr;
    float: left;
    width: 75%;
    padding: 1em;
    box-sizing: border-box;
    background-color: rgb(92, 137, 30);
    border-radius: 15px 0px 15px 15px;
}

.sidebar{
    display: grid;
    grid-template-columns: 1fr;
    float: left;
    width: 25%;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 0px 15px 15px 0px;
    background-color: rgb(92, 137, 30);
}

body{  
    background: url("./Images/Snow.gif"), url(./Images/card.jpg);  
}
