@import url('https://fonts.googleapis.com/css?family=Alatsi|Work+Sans&display=swap');

body{
    display: grid;
    grid-template-rows: auto;
    font-size: 20px;
    line-height: 125%;
    font-family: 'Work Sans', sans-serif;
}

.intro{
    display: grid;
    grid-template-columns: 1fr;
    display: block;
    background-color: rgba(250, 241, 223, .9);
    border-radius: 15px 15px 0px 0px;
    padding: 2em;
}

h1,h2,h3{
    text-align: center;
    font-family: 'Alatsi', sans-serif;
}

.main{
    display: grid;
    grid-template-columns: 1fr;
    float: left;
    width: 75%;
    padding: 2em;
    box-sizing: border-box;
    background-color: rgba(250, 241, 223, .9);
    border-radius: 0px 0px 15px 15px;
}

.sidebar{
    display: grid;
    grid-template-columns: 1fr;
    float: left;
    width: 25%;
    padding: 2em;
    box-sizing: border-box;
    border-radius: 0px 0px 15px 0px;
    background-color: rgba(250, 241, 223, .9);
}

a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(193, 51, 40);
}

a:hover,:visited{
    color: rgb(116, 150, 63);
}

body{  
    background: url("./Images/Snow.gif"), url(./Images/card.jpg);  
}

ul{
    list-style-image: url(./Images/Ornament.png);
}