@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed|Tomorrow&display=swap');

a:link{
    color: greenyellow;
    font-weight: bolder;
    text-decoration: none;
}

a:hover, a:focus, a:visited{
    color: yellow;
    text-decoration: underline;
}

body{
    background: url(./Images2/industrialbackground.jpg);
    color: white;
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 20px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    width: 100%;
}

h1,h2,h3{
    color: orange;
    font-family: 'Tomorrow', sans-serif;
}

section{
    display: block;
    padding: 5px;
}

p{
    line-height: 130%;
}

.explanation{
    padding: 0px 5px;
}

.page-wrapper{
    background-color: #33518d;
    height: 100%;
    margin: 0 auto;
    padding: 5px 30px;
    position: relative;
    text-align: left;
    width: 900px;
}

.main{
    padding: 5px;
}

.preamble{
    left: 0;
    margin: 0;
    padding: 0 45px 0 0;
    position: relative;
    width: 450px;
}

.supporting{
    left: 0;
    margin: 0;
    padding: 0 45px 0 0;
    position: relative;
    width: 450px;
}

.sidebar{
    margin: 0 0 0 200px;
    padding: 15px 30px;
    position: absolute;
    right: 2px;
    top: 170px;
}